{% assign background = site.data.data.sidebar.background %}
{% if background %}
<div class="background-container container-block">

  <h2 class="container-block-title">
    {{ background.title }}
  </h2>

  <ul class="list-unstyled background-list">
    {% for background in background.info %}

      {% if publications.intro %}
      <div class="intro">
        {{ publications.intro | markdownify }}
      </div><!--//intro-->
      {% endif %}
    
      {% if background.link %}
      <li><a href="{{ background.link }}">{{ background.item }}</a></li>
      {% else %}
      <li>{{ background.item }}</li>
      {% endif %}

    {% endfor %}
  </ul>

</div><!--//Profile-->
{% endif %}
