<link rel="stylesheet" href="assets/css/academicons.min.css"/>
<!-- https://jpswalsh.github.io/academicons/ -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons/css/academicons.min.css">

<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">

  <h2 class="container-block-title">
    {{ Contact.title }}
  </h2>
    
    {% if sidebar.email %}
    <li class="email"><i class="fas fa-envelope"></i>
      <a href="mailto:{{ sidebar.email }}">{{ sidebar.email }}</a>
    </li>
    {% endif %}

    {% if sidebar.phone %}
    <li class="phone"><i class="fas fa-phone"></i>
      <a href="tel:{{ sidebar.phone }}">{{ sidebar.phone }}</a>
    </li>
    {% endif %}

    {% if sidebar.citizenship %}
    <li class="phone"><i class="fas fa-passport"></i>
      <a href="">{{ sidebar.citizenship }}</a>
    </li>
    {% endif %}

    {% if sidebar.timezone %}
    <li class="timezone"><i class="fas fa-clock"></i>
      <a href="https://worldtimeapi.org/timezone/{{ sidebar.timezone }}" target="_blank">{{ sidebar.timezone }} Timezone</a>
    </li>
    {% endif %}

    {% if sidebar.Pubmed %}
    <li class="Pubmed"><i class="ai ai-pubmed ai-2x"></i>
      <a href="https://www.ncbi.nlm.nih.gov/myncbi/12sOnx9fbrxkc/bibliography/public/" target="_blank">{{sidebar.Pubmed}}</a>
    </li>
    {% endif %}

    {% if sidebar.google-scholar %}
<!--     <li class="google-scholar"><i class="fab fa-google"></i> -->
    <li class="google-scholar"><i class="ai ai-google-scholar ai-2x"></i>
      <a href="https://scholar.google.com/citations?user=n8HsLIoAAAAJ&hl=en&oi=ao" target="_blank">{{ sidebar.google-scholar }}</a>
    </li>
    {% endif %}

    {% if sidebar.linkedin %}
    <li class="linkedin"><i class="fab fa-linkedin"></i>
      <a href="https://linkedin.com/in/{{ sidebar.linkedin }}" target="_blank">{{ sidebar.linkedin }}</a>
    </li>
    {% endif %}

    {% if sidebar.scopus %}
    <li class="scopus"><i class="ai ai-scopus ai-2x"></i>
      <a href="https://www.scopus.com/authid/detail.uri?authorId=56403400200" target="_blank">{{ sidebar.scopus }}</a>
    </li>
    {% endif %}

    

    {% if sidebar.semantic-scholar %}
    <li class="semantic-scholar"><i class="ai ai-semantic-scholar ai-2x"></i>
      <a href="https://www.semanticscholar.org/author/Richard-Yan-Do/1401064395" target="_blank">{{ sidebar.semantic-scholar }}</a>
    </li>
    {% endif %}

    {% if sidebar.bitbucket %}
    <li class="bitbucket"><i class="fab fa-bitbucket"></i>
      <a href="https://bitbucket.com/{{ sidebar.bitbucket }}" target="_blank">{{ sidebar.bitbucket }}</a>
    </li>
    {% endif %}

    {% if sidebar.twitter %}
    <li class="twitter"><i class="fab fa-twitter"></i>
      <a href="https://twitter.com/{{ sidebar.twitter }}" target="_blank">{{ sidebar.twitter }}</a>
    </li>
    {% endif %}
    
    {% if sidebar.bluesky %}
    {% assign bluesky_handle = sidebar.bluesky | remove: '@' %}
    <li class="bluesky"><i class="fab fa-bluesky"></i>
      <a href="https://bsky.app/profile/{{ bluesky_handle }}" target="_blank">{{ sidebar.bluesky }}</a>
    </li>
    {% endif %}
    
    {% if sidebar.mastodon %}
    {% assign mastodon_handle = sidebar.mastodon | split: '/' %}
    <li class="mastodon"><i class="fab fa-mastodon"></i>
      <a href="{{ sidebar.mastodon }}" target="_blank">{{ mastodon_handle[3] }}@{{ mastodon_handle[2] }}</a>
    </li>
    {% endif %}

    {% if sidebar.stack-overflow %}
    <li class="stack-overflow"><i class="fab fa-stack-overflow"></i>
      <a href="https://stackoverflow.com/users/{{ sidebar.stack-overflow }}" target="_blank">{{ sidebar.stack-overflow }}</a>
    </li>
    {% endif %}

    {% if sidebar.codewars %}
    <li class="codewars"><i class="fas fa-code"></i>
      <a href="https://www.codewars.com/users/{{ sidebar.codewars }}/completed_solutions" target="_blank">{{ sidebar.codewars }}</a>
    </li>
    {% endif %}

    {% if sidebar.thesis %}
    <li class="thesis"><i class="ai-solid ai-book"></i>
      <a href="https://era.library.ualberta.ca/items/e60b4f73-1638-4174-918c-7d02d22ce7a5" target="_blank">{{ sidebar.thesis }}</a>
    </li>
    {% endif %}

    {% if sidebar.youtube %}
    <li class="youtube"><i class="fab fa-youtube"></i>
      <a href="https://www.youtube.com/@drryanodine2128" target="_blank">YouTube</a>
    </li>
    {% endif %}

    {% if sidebar.github %}
    <li class="github"><i class="fab fa-github"></i>
      <a href="https://github.com/{{ sidebar.github }}" target="_blank">{{ sidebar.github }}</a>
    </li>
    {% endif %}

    {% if sidebar.website %}
    <li class="website"><i class="fas fa-globe-americas"></i>
      <a href="{{ sidebar.website }}" target="_blank">{{ sidebar.website }}</a>
    </li>
    {% endif %}

    {% if sidebar.pdf %}
    <li class="pdf"><i class="fas fa-file-pdf"></i>
      <a href="{{ sidebar.pdf }}" target="_blank">PDF Curriculum Vitae</a>
    </li>
    {% endif %}

  </ul>
</div><!--//contact-container-->
